<launch>
	<arg name="livox_topic" default="/livox/lidar" />
	<arg name="xsens_topic" default="/filter/quaternion" />
	<arg name="dest" default="/tmp/output.ply" />
	<arg name="orientation" default="true" />

	<node name="$(anon livox_to_ply)" pkg="livox_to_ply" type="client" args="$(arg dest) $(arg livox_topic) $(arg xsens_topic) $(arg orientation)" />
</launch>
