<launch>
	<arg name="livox_topic" default="/livox/lidar" />
	<arg name="xsens_topic" default="/filter/quaternion" />
	<arg name="dest" default="/tmp/output.ply" />
	<arg name="orientation" default="true" />

	<include file="$(find livox_ros_driver)/launch/livox_lidar.launch" />
	<include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch" /> 

	<node name="$(anon pointcloud2_to_ply)" pkg="pointcloud2_to_ply" type="client" args="$(arg dest) $(arg livox_topic) $(arg xsens_topic) $(arg orientation)" />
</launch>
